@import "../../variables.scss";

$padding: 10px;

:root {
	--widget-width: 21.3rem;
	--widget-height: 8rem;

	--dark-height: calc(var(--widget-height) / 1.8);
}

.container {
	height: var(--widget-height);
	width: var(--widget-width);
	background: $mono-tint3;
	border-radius: $padding;
	display: flex;
	flex-direction: column;
	align-items: center;
	user-select: none;
}

.topBarContainer {
	display: flex;
	width: 100%;
}

.imgContainer {
	height: var(--dark-height);
	width: 4rem;
	border-top-left-radius: $padding;
	background: $mono-tint2;
	display: inline-flex;
	align-items: center;
	padding-left: $padding;
}

.infoContainer {
	height: var(--dark-height);
	width: 100%;
	background: $mono-tint2;
	border-top-right-radius: $padding;
	display: inline-flex;
	align-items: center;
}

.textContainer {
	flex: 1 1 auto;
	margin-left: $padding;
}

.buttonContainer {
	flex: 1 1 auto;
	display: inline-grid;
	justify-content: flex-end;
	align-items: center;
	margin-right: $padding;
}

.inviteButton {
	background: $discord-blue;
	border-radius: 5px;
	justify-self: right;

	&:hover {
		opacity: 0.8;
	}
	&:active {
		opacity: 1;
	}
}

.avatarContainer {
	width: calc(100% - #{$padding});
	margin-top: $padding;
	display: inline-flex;
	justify-content: space-evenly;
}

.avatar {
	border-radius: 50%;
}

@media (max-width: 450px) {
	:root {
		--widget-width: 15rem;
		--widget-height: 7rem;
	}

	.topBarContainer {
		height: 100%;
	}

	.imgContainer {
		height: 100%;
		border-bottom-left-radius: $padding;
		padding-right: $padding;
	}

	.infoContainer {
		height: 100%;
		background: transparent;
		flex-direction: column;
		align-items: unset;
	}

	.textContainer {
		margin-left: $padding;
		margin-top: $padding;
	}

	.buttonContainer {
		margin-left: $padding;
		margin-bottom: $padding;
		justify-content: left;
	}

	.avatarContainer {
		visibility: hidden;
		position: absolute;
		pointer-events: none;
	}
}