@import "../variables.scss";

$header-ignore-padding: 5rem;

.botHalf {
	width: 100%;
	height: calc(100% - #{$header-ignore-padding});
	padding-top: #{$header-ignore-padding / 2};
	background: $main-background;
	overflow-x: hidden;
}

.botHalfFlexContainer {
	display: flex;
	height: inherit;
}

.botHalfFlexLeft {
	height: 100%;
	flex: 2 1 auto;
	flex-wrap: wrap;
	display: flex;
	align-items: center;
	justify-content: center;
}

.botHalfFlexRight {
	flex: 1.3 2 25rem;
	min-width: 35rem;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.infoContainer {
	display: grid; 
	grid-template-rows: 0fr 0fr 0fr;
	grid-gap: 1.7rem;
	grid-template-areas: 
		"title"
		"text"
		"invite"
		"text2";
	margin: 10px;
}

@media (max-width: 1000px) {
	.botHalfFlexContainer {
		justify-content: center;
	}

	.botHalfFlexLeft {
		flex: 0 0 0;
		visibility: hidden;
	}

	.demosText {
		visibility: hidden;
	}
}

@media (max-width: 700px) {
	.topHalfFlexLeft {
		margin-left: 0;
		align-items: center;
	}

	.downloadContainer {
		text-align: center;
	}

	.botHalfFlexRight {
		min-width: 15rem;
	}
}