$outline-width: 3px;
$anim-speed: 2.2;

@mixin move-outline($axis, $from, $to, $delay) {
	$tname: translate#{$axis};
	$aname: m-#{unique-id()};

	@keyframes #{$aname} {
		from {
			transform: $tname#{"(" + $from + ")"};
		}
		to {
			transform: $tname#{"(" + $to + ")"};
		}
	}

	animation: $aname #{$anim-speed}s infinite;
	animation-delay: #{$anim-speed * $delay}s;
}

.child1 {
	@include move-outline(X, -115%, 110%, 0);
}

.child2 {
	@include move-outline(Y, -105%, 115%, 0.25);
}

.child3 {
	@include move-outline(X, 100%, -115%, 0.55);
}

.child4 {
	@include move-outline(Y, 100%, -115%, 0.8);
}