@import "../variables.scss";

$outline-width: 3px;
$anim-speed: 2.2;

@mixin move-outline($axis, $from, $to, $delay) {
	$tname: translate#{$axis};
	$aname: m-#{unique-id()};

	@keyframes #{$aname} {
		from {
			transform: $tname#{"(" + $from + ")"};
		}
		to {
			transform: $tname#{"(" + $to + ")"};
		}
	}

	animation: $aname #{$anim-speed}s infinite;
	animation-delay: #{$anim-speed * $delay}s;
}

.buttonContainer {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;

	span {
		position: absolute;
		display: block;

		&:nth-child(2) {
			top: 0;
			height: $outline-width;
			background: $spwn-green-light;
			width: 100%;
			transform: translateX(-115%);

			@include move-outline(X, -115%, 110%, 0);
		}
		&:nth-child(4) {
			bottom: 0;
			height: $outline-width;
			background: $spwn-purple-light;
			width: 100%;
			transform: translateX(100%);

			@include move-outline(X, 100%, -115%, 0.55);
		}
		&:nth-child(3) {
			right: 0;
			width: $outline-width;
			background: $spwn-green-light;
			height: 100%;
			transform: translateY(-105%);

			@include move-outline(Y, -105%, 115%, 0.3);

		}
		&:nth-child(5) {
			left: 0;
			width: $outline-width;
			background: $spwn-purple-light;
			height: 100%;
			transform: translateY(100%);

			@include move-outline(Y, 100%, -115%, 0.8);
		}
	}

	opacity: 0.8;
	&:hover {
		opacity: 1;

		span {
			&:nth-child(2) {
				box-shadow: 0px 5px 10px 0px $spwn-green;
			}

			&:nth-child(3) {
				box-shadow: -5px 0px 10px 0px $spwn-green;
			}

			&:nth-child(4) {
				box-shadow: 0px -5px 10px 0px $spwn-purple;
			}

			&:nth-child(5) {
				box-shadow: 5px 0px 10px 0px $spwn-purple;
			}
		}
	}
	&:active {
		opacity: 0.8;
	}
}


.child1 {
	@include move-outline(X, -115%, 110%, 0);
}

.child2 {
	@include move-outline(Y, -105%, 115%, 0.25);
}

.child3 {
	@include move-outline(X, 100%, -115%, 0.55);
}

.child4 {
	@include move-outline(Y, 100%, -115%, 0.8);
}