@import "../variables.scss";

@keyframes fill { 
	0% { 
		clip-path: inset(100% 0 0 0) 
	} 
	100% { 
		clip-path: inset(0% 0 0 0) 
	} 
}

.container {
	background: $dark-900;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $text;
	font-size: 30px;
}

.imgContainer {
	animation: fill 2.5s infinite alternate ease-in-out;
	position: absolute;
	transition: clip-path 3.5s, transform 0.5s;
}

.text {
	padding-top: 10.5rem;
	font-variation-settings: "wght" 200, "ital" 1;
}