@import "../variables.scss";

$anim-speed: 3;

@mixin move-shadows($from, $to) {
	$aname: m-#{unique-id()};

	@keyframes #{$aname} {
		from {
			transform: translate#{"(" + $from + "," + $from + ")"};
		}
		to {
			transform: translate#{"(" + $to + "," + $to + ")"};
		}
	}

	animation: $aname #{$anim-speed}s ease-in-out alternate-reverse infinite;
}

.container {
	user-select: none;
	position: relative;

	display: grid;
	grid-template-columns: 1fr;

	//`!important` overrides the inline styles
	& > * {
		font-size: MIN(MAX(7rem, 25.5vw), 13rem) !important;
		font-variation-settings: "wght" 900, "ital" 1 !important;
		grid-row-start: 1;
		grid-column-start: 1;
	}

	div {
		&:nth-child(1) {
			color: transparent !important;
			-webkit-text-stroke: MIN(0.5vw, 4px) #d9d6f4;
			z-index: 4;
		}
		&:nth-child(2) {
			color: $spwn-g-light !important;
			transform: translate(MIN(0.8vw, 5px), MIN(0.8vw, 5px));
			z-index: 3;

			@include move-shadows(MIN(0.8vw, 5px), MIN(1.5vw, 10px));
		}
		&:nth-child(3) {
			color: $spwn-g !important;
			transform: translate(MIN(1.1vw, 7px), MIN(1.1vw, 7px));
			z-index: 2;

			opacity: 0.9;

			@include move-shadows(MIN(1.1vw, 7px), MIN(2.5vw, 20px));
		}
		&:nth-child(4) {
			color: $spwn-p !important;
			transform: translate(MIN(1.4vw, 9px), MIN(1.4vw, 9px));
			z-index: 1;

			opacity: 0.7;

			@include move-shadows(MIN(1.4vw, 9px), MIN(3.5vw, 30px));
		}
		&:nth-child(5) {
			color: $spwn-p-light !important;
			transform: translate(MIN(1.7vw, 11px), MIN(1.7vw, 11px));
			z-index: 0;

			opacity: 0.5;

			@include move-shadows(MIN(1.7vw, 11px), MIN(4.5vw, 40px));
		}
	}
}