@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@font-face {
	src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2") format("woff2");
	font-family: "Meta";
}


*:not(code):not(pre) {
	font-family: "Meta", sans-serif, "Exo 2", sans-serif;
	font-style: normal;
	font-weight: normal;
}

code, pre, .hljs * {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.hljs {
	background: transparent;
}

body {
	margin: 0;

	scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.font-thin {
		font-variation-settings: 'wght' 100;
	}
	.font-light {
		font-variation-settings: 'wght' 300;
	}
	.font-normal {
		font-variation-settings: 'wght' 400;
	}
	.font-bold {
		font-variation-settings: 'wght' 700;
	}
	.font-black {
		font-variation-settings: 'wght' 900;
	}

	.font-ital-thin {
		font-variation-settings: 'ital' 1, 'wght' 100;
	}
	.font-ital-light {
		font-variation-settings: 'ital' 1, 'wght' 300;
	}
	.font-ital-normal {
		font-variation-settings: 'ital' 1, 'wght' 400;
	}
	.font-ital-bold {
		font-variation-settings: 'ital' 1, 'wght' 700;
	}
	.font-ital-black {
		font-variation-settings: 'ital' 1, 'wght' 900;
	}
}
