$dark-900: #040404;
$dark-800: #1c1c1c;
$dark-700: #1a1a1a;
$dark-300: #242424;

$text: #fff;
$spwn-p: #e421a6;
$spwn-p-light: #e024c7;
$spwn-g: #05c286;
$spwn-g-light: #09cea0;

$discord-blue: #5865F2;

$sidebar-selected: #000;
$sidebar-button: #000;
$sidebar-outline: #1c1f27;

$text-sm: 1rem;
$text-bs: 1.3rem;
$text-md: 1.5rem;

$screen-sm: 0px;
$screen-md: 530px;
$screen-lg: 1000px;

@function screen($breakpoints...) {
	$out: "";
	@each $b in $breakpoints {
		$out: $out + "(min-width:" + $b + ")";
		@if not (index($breakpoints, $b) == length($breakpoints)) {
			$out: $out + " and ";
		}
	}
	@return $out;
}

@mixin media($breakpoints...) {
	@media #{$breakpoints} {
		@content
	}
}