$main-background: #040404;

$mono-tint1: #1c1c1c;
$mono-tint2: #1a1a1a;
$mono-tint3: #242424;

$discord-blue: #5865F2;

$text-color: #fff;
$spwn-purple: #e421a6;
$spwn-purple-light: #e024c7;
$spwn-green: #05c286;
$spwn-green-light: #09cea0;
$spwn-white: #f4f4f4;